<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'>
  </head>
  <body>
    <h1>Привет, <%= @user.buyer_info.user.name %> <%= @user.buyer_info.user.surname %> </h1>
    <p>
    Ваша заявка на аренду товара "<%= @user.product.name %>" из салона "<%= @user.product.salon.name %>" была одобрена!
 </p>
     <p>
    Вы можете забрать его по адресу <%= @user.product.salon.address %>!
 </p>
    <p>
      Для более подбробной информации, войдите в ваш аккаунт и зайдите на вкладку "Аренды".
    </p>
    <p>Пришло время сиять!</p>
  </body>
</html>
