<div class="container" style="margin-top:60px;">
  <div class="row">
    <div class="col-md-7">
    <% if current_user.role == 'Admin' %>
      <%= link_to 'Back', salons_path, class: 'btn btn-primary' %></td>
    <% else %>
      <%= link_to 'Back', salon_menu_path, class: 'btn btn-primary' %></td>
    <% end %>
      <%= form_for @salon do |f| %>
      <%= f.hidden_field :seller_info_id , value: current_user.profileable_id %>
        <div class="field">
          <%= f.label :name %><br>
          <%= f.text_field :name, required: true, class: "form-control" %>
        </div>
        <div class="field">
          <%= f.label :address %><br>
          <%= f.text_field :address, required: true, class: "form-control" %>
          <%= f.file_field :picture %>
        </div>
        <div class="actions">
          <%= f.submit 'Save', class:"btn btn-primary" %>
        </div>
      <% end %>
    </div>
    <div class="col"></div>
  </div>
</div>
