<table class="table">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">address</th>
        <th scope="col">Owner's name</th>
        <th scope="col">Owner's surname</th>
        <th scope="col">Edit</th>
        <th scope="col">Destroy</th>
      </tr>
    </thead>  
    <% @salons.each_with_index do |salon| %>       
        <tr>
          <td><%= salon.name %></td>
          <td><%= salon.address %></td>
          <td><%= salon.seller_info.user.name %></td>
          <td><%= salon.seller_info.user.surname %></td>
          <td><%= link_to 'Edit', edit_salon_path(salon) %></td>
          <td><%= link_to 'Destroy', salon_path(salon), method: :delete %></td>
        </tr>
    <% end %>
</table>
