<div class="block-2">
<%= link_to t('size.create'), new_size_path(id: @product.id), class:"btn btn-outline-secondary" %>
  <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col"><%= t('rental.product')%></th>
          <th scope="col"><%= t('rental.size')%></th>
          <th scope="col"><%= t('rental.count')%></th>
        </tr>
      </thead>
      <% @sizes.each_with_index do |size| %>
          <tr>
            <td><%= size.product.name %></td>
            <td><%= size.size %></td>
            <td><%= size.count_size %></td>
            <td><%= link_to t('button.edit'), edit_size_path(size) ,class: "btn btn-sm btn-outline-secondary" %></td>
            <td><%= link_to t('button.destroy'), size_path(size), method: :delete,class: "btn btn-sm btn-outline-secondary" %></td>
          </tr>
      <% end %>
  </table>
