<div class="container block-2">
  <div class="col-md-3">
   <div class="row border shadow-sm position-relative">
      <div class="col p-4 d-flex flex-column position-static">
        <h3 class="mb-0"><%= @product.name %></h3>
        <h5 class="mb-1 text-muted">Salon: <%= @product.salon.name %></h5>
        <h6 class="mb-1 text-muted">Price: <%= @product.price %></h6>
          <%= form_for @rental do |f| %>
            <%= f.hidden_field :status , value: 'false' %>
            <%= f.hidden_field :approve , value: 'false' %>
            <%= f.hidden_field :buyer_info_id, value: current_user.profileable.id %>
            <%= f.hidden_field :product_id , value: @product.id %>
            <div class="field">
              <% if @product.avatar.attached? %>
                <%= image_tag @product.avatar,class:"bd-placeholder-img" %>
              <% else %>
                <img class="bd-placeholder-img" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22288%22%20height%3D%22225%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20288%20225%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_17e22579a47%20text%20%7B%20fill%3A%23eceeef%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A14pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_17e22579a47%22%3E%3Crect%20width%3D%22288%22%20height%3D%22225%22%20fill%3D%22%2355595c%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%2296.84375%22%20y%3D%22118.8%22%3EThumbnail%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" data-holder-rendered="true">
              <% end %>
            </div>
            <div class="field">
              <%= f.label :start_rent %><br>
              <%= f.date_select :start_rent , order: [:month, :day, :year] ,start_year: Time.now.year, end_year: 2023, class: "form-control" %>
            </div>
            <div class="field">
              <%= f.label :end_rent %><br>
              <%= f.date_select :end_rent , order: [:month, :day, :year] ,start_year: Time.now.year, end_year: 2023, class: "form-control" %>
            </div>
            <div class="actions">
              <%= f.submit 'Save', class:"btn btn-primary" %>
            </div>
         <% end %>
      </div>
    </div>
  </div>
</div>
