<table class="table table-striped" style="margin-top:50px;">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col">Price</th>
        <th scope="col">Salon</th>
        <th scope="col">Photo</th>
        <th scope="col">Product type</th>
         <th scope="col">Edit</th>
         <th scope="col">Destroy</th>
      </tr>
    </thead>  
    <% @products.each_with_index do |index| %>       
        <tr>
          <td><%= index.name %></td>
          <td><%= index.description %></td>
          <td><%= index.price %></td>
          <td><%= index.salon.name %></td>
          <td><%= image_tag index.avatar,class:"card-img-top" if index.avatar.attached?%></td>
          <td><%= index.product_type_name %></td>
          <td><%= link_to 'Edit', edit_product_path(index) %></td>
          <td><%= link_to 'Destroy', product_path(index), method: :delete %></td>
        </tr>
    <% end %>
  </table>
   <div class= "container col-md-5">
    <%= paginate @products,
              theme: 'bootstrap-5',
              pagination_class: "pagination flex-wrap justify-content-center",
              nav_class: "d-inline-block" %>
  </div>
