<div class="row featurette" style="margin:100px 0px 0px 80px;">
    <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading"><%= @product.name %></h2>
        <p class="lead"><%= link_to @product.salon.name, salon_path(@product.salon.id) %></p>
        <p class="lead"><%= @product.description %></p>
        <p class="lead"><%= @product.price %></p>
            <%= link_to 'Rent', new_rental_path(@product.id), class:"btn btn-outline-secondary" %>
    </div>
    <div class="col-md-5 order-md-1">
<%if @product.avatar.attached?%>
    <%= image_tag @product.avatar ,class:"featurette-image img-fluid mx-auto",style:"width: 500px; height: 500px;"%>
<%else%>

<%end%>
    </div>
</div>
