<!DOCTYPE html>
<html>
  <head>
    <title>DressRental</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-dark right menu">
        <div class="navbar-nav">
          <%= link_to 'Home', root_path, class: "nav-link item"%>
            <% if user_signed_in? %>
                <%= link_to 'Log out', destroy_user_session_path, :method => :delete , class: "nav-link item"%>
                  <%if current_user.role == 'Admin'%>
                    <%= link_to 'Admin', admins_path , class: "nav-link item"%>
                  <%end%>
            <% else %>
                <%= link_to 'Log in', new_user_session_path ,class: "nav-link item"%>
                <%= link_to 'Sign up seller', users_seller_path ,class: "nav-link item"%>
                <%= link_to 'Sign up buyer', users_buyer_path ,class: "nav-link item"%>
            <% end %>
        </div>
    </nav>
    <%= yield %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </body>
</html>
